<h1>Add Category</h1>

<form action="/category/add" method="POST">
  <div class="input-field">
    <input id="title" name="title" type="text" class="validate" required />
    <label for="title">Title of category</label>
    <span class="helper-text" data-error="Add title"></span>
  </div>

  <button class="btn waves-effect waves-light">Add category</button>
</form>

{{#if error}}
  <br />
  <hr />
  <br />
  <p>{{error}}</p>
{{/if}}